
.ouradvocacy-wrapper{
padding: 40px;
}
.ouradvocacy-images{
height:300px;
width: 350px;
overflow: hidden;
float:right;
padding: 0 0 25px 35px;
}
.ouradvocacy-images img{
height:100%;
width:100%;
object-fit:cover;
}
.ouradvocacy-paragraph p{
padding:0 0 20px 0;
text-align: justify;
}