.footer-wrapper{
	padding-top: 80px;	
	padding-bottom: 80px;
	font-size: 14px;
	text-align: center;
}
.footer-wrapper p{
	color: rgba(255,255,255,.5)!important;
}
.footer-wrapper ul li{
	margin-bottom: .8em;
}
.footer-wrapper ul li a{
	text-decoration: none;
	color: #fff;
    transition: .3s ease;

}
.footer-wrapper ul li a:hover{
	color: green;
	font-size: 14px;
	font-weight: bold;
}
.bg-black{
	background: #262f38;
}
.footer-wrapper .footer-adiv .btn.btn-footer{
	padding: 16px;
	border-radius: 99px;
	margin-bottom: 40px;
	color: #fff;
	font-family:Poppins,sans-serif; 
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.2);
    transition: .3s ease;
}

.footer-wrapper .footer-adiv .btn.btn-footer:hover{
	color: green;
	font-weight: bold;
}
.copy-wrapper{
	padding: 30px;
	color: #fff;
	border-top: 1px solid #fff;
}
.copy-wrapper a{
	color: rgba(255,255,255,.5)!important;

}
.copy-wrapper a:hover{
	color: green;
	text-decoration: none;
}